/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

$inuit-font-size-h1: 36px !default;
$inuit-font-size-h2: 28px !default;
$inuit-font-size-h3: 24px !default;
$inuit-font-size-h4: 20px !default;
$inuit-font-size-h5: 18px !default;
$inuit-font-size-h6: 16px !default;

h1 {
  font-size: $inuit-font-size-h1;
  font-weight: 300;
}

h2 {
  font-size: $inuit-font-size-h2;
  font-weight: 300;
}

h3 {
  font-size: $inuit-font-size-h3;
  font-weight: 300;
}

h4 {
  font-size: $inuit-font-size-h4;
  font-weight: 300;
}

h5 {
  font-size: $inuit-font-size-h5;
  font-weight: 300;
}

h6 {
  font-size: $inuit-font-size-h6;
  font-weight: 300;
}
